# 01_environment.config

# Install Python, pip, and Node.js
packages:
  yum:
    python3: []
    python3-pip: []
    nodejs: []

# Set environment variables
option_settings:
  aws:elasticbeanstalk:application:environment:
    MY_ENV_VAR: "value"
    ANOTHER_ENV_VAR: "another_value"

# Install Python requirements
container_commands:
  01_install_pillow:
    command: "pip3 install Pillow"

  02_install_google_genai:
    command: "pip3 install google-generativeai"

  03_install_absl_py:
    command: "pip3 install absl-py"
